*{
	margin: 0;
	padding: 0;
	outline: none;
}

a{
	text-decoration: none;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: rgba(255,214,0,1);
	box-shadow: 0 0 8px black;
}

img.logo_img{
	margin-left: 40px;
	width: auto;
	height: 40px;
}

nav{
	display: flex;
	justify-content: space-between;
	margin-right: 40px;
}

nav  p{
	color: black;
	font-size: 20px;
	font-weight: 600;
	margin-left: 20px;
	margin-right: 20px;
}

footer{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items:center;
	background-color: rgba(255,214,0,1);
	height: 100px;
}

footer p{
	color: white;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Roboto',Arial,sans-serif;
}

.information_about_us{
	display: flex;
	justify-content: space-between;
}

.information_about_us p{
	margin-right: 20px;
	margin-left: 20px;

}

