*{
    margin: 0;
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
}

/* Родительский блок для блока с изображением и текстовым блоком */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_and_text_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

/* Класс с главным изображением */
.IMG {
    margin-top: 2vh;
    margin-bottom: 10px;
    box-shadow: 0 0 10px;
    border-radius: 25px;
    max-width: 50vw;
    max-height: 50vh;
    width: auto;
    height: auto;
}

/* Основной блок с текстом */
.text_block{
    background-color: black;
    box-shadow: 0 0 5px;
    border-radius: 25px;
    overflow:hidden;
    margin: 0 2px;
    padding: 10px;
    width:100%;
    max-width: 50vw;
}

/* <!-- Блок с именем автора и кнопкой--> */
.block_1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    flex-wrap: wrap;
}

.block_1 div.username{
    max-width: 100%
}

.block_1 p.username{
    font-size: 20px;
    max-width: 100%;
    word-wrap: break-word;
}

/* Ссылка на страницу автора */
.href_name{
    text-decoration: none;
    color:dodgerblue;
}

.div_save_button{
    max-width: 100%;
    height: min-content;
}

.div_save_button{

}

/* Сама кнопка сохранения */
.save_button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
    width: 100px;
    height: auto;

    border-radius: 25px;
    border: none;
    margin-top: 5px;
    background: crimson;
    color: white;
    font-size: 17px;
    word-wrap: break-word;
}

.save_button a{
    color: white;
}


/* Блок с описанием изображения */
.text_info{
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: max-content;
}

/* Меняем размер шрифта у текста с описанием */
.text_info > h1{
    font-size: 40px;
    color: white;
    max-width: 100%;
    word-wrap: break-word;
}
