<!-- Сделать макросы https://pythonru.com/uroki/7-osnovy-shablonizatora-jinja -->
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_style.css') }}">
    <title>header</title>
    {% endblock %}

</head>
<body>
	<header>
		<img src="{{ url_for('static', filename='img/logo.svg') }}" alt="" class="logo_img">
		<nav>
			<p>Главная</p>
			<p>Регистрация</p>
			<p>Войти</p>
		</nav>
	</header>
	{% block main %}
	{% endblock %}
	<footer>
		<p style="padding-left: 40px;">© 2021 OnePicture</p>
		<div class="information_about_us">
			<p>О нас</p>
			<p>Контакты</p>
			<p>Авторы</p>
		</div>
		<p class="go_up" style="padding-right: 40px;">Вернуться наверх</p>
	</footer>
</body>
</html>