<!-- Сделать макросы https://pythonru.com/uroki/7-osnovy-shablonizatora-jinja -->
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<title>
        {% if title %}
            {{ title }}
        {% else %}
            no title
        {% endif %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/header_style.css') }}">
    {% endblock %}
	<script>
		var r_path = '{{ url_for("get_hints") }}';
	</script>
	<script defer src="{{ url_for('static', filename='js/search.js') }}"></script>

</head>
<body>
	<header>
		<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="" class="logo_img"></a>
		{% if search_form %}
			<form id="searchForm" action="{{ url_for('search') }}", method="post" class="search">
				{{ search_form.csrf_token() }}
				{{ search_form.search(autocomplete="off", class='searchField') }}
				<div id="hints" class="search_hints">
				</div>
			</form>
		{% endif %}

		<nav>
			{% if not current_user.is_anonymous %}
				<a href="{{ url_for('index') }}"><p>Главная</p></a>
				<a href="{{ url_for('user_page', id=current_user.id) }}"><p>Профиль</p></a>
				<a href="{{ url_for('logout') }}"><p>Выйти</p></a>
			{% else %}
				<a href="{{ url_for('index') }}"><p>Главная</p></a>
				<a href="{{ url_for('registration') }}"><p>Регистрация</p></a>
				<a href="{{ url_for('login') }}"><p>Войти</p></a>
			{% endif %}
		</nav>
	</header>
	{% block main %}
	{% endblock %}
	<footer>
		<p style="padding-left: 40px;">© 2021 OnePicture</p>
		<div class="information_about_us">
			<p>О нас</p>
			<p>Контакты</p>
			<p>Авторы</p>
		</div>
		<p class="go_up" style="padding-right: 40px;">Вернуться наверх</p>
	</footer>
</body>
</html>