{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='style/image_page.css')}}">
{% endblock %}
{% block main %}
    <main>
            <div class="img_and_text_block">
                <div class="img_block">
                    <img class = 'IMG' src="{{url_for('static', filename='test_img/Снимок.png')}}" alt="Вставить текст">
                </div>
                <div class = "text_block">
                    <div class = 'text_info'>
                        <h1>Название картинки</h1>
                    </div>
                    <div class = 'block_1'>
                        <div class="username">
                            <p class="username">
                                 Загружено: <a class = 'href_name' href="#">ИМЯ ПОЛЬЗОВАТЕЛЯ</a>
                            </p>
                        </div>
                        <div class="div_save_button">
                            <form>
                                <button class="save_button">Сохранить</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock %}