{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <script defer src="{{ url_for('static', filename='js/errorMessage.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/registr.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/l_r_u_style.css') }}">
{% endblock %}
{% block main %}
    <main>
        <div class=form_box>
            <h2 class=form_title>Зарегистрироваться</h2>
            <form action="{{ url_for('registration') }}" method="post">
                {{ form.csrf_token() }}
                {% for field in form if (field.name != 'csrf_token') and (field.name != 'submit') %}
                    <p>{{ field.label }}</p>
                    {{ field() }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
                <label for="submit"></label>
                {{form.submit()}}
            </form>
            <button class=fake_button id="fakeButton" onclick="writeError()">Зарегистрироваться</button>
            <div class=error_message id="errorMessage">
            </div>
        </div>
    </main>
{% endblock %}
</html>